.kaufman__triangle {
  z-index: 0;
  background-image: url(../../../images/kaufman-triangle.svg);
  height: 877px;
  width: 877px;
  position: absolute;
  top: 0;
  background-size: cover;
  background-repeat: no-repeat;
  right: -210px;
}
