.header__title {
  z-index: 2;
  font-weight: 600;
  line-height: 96px;
  font-size: 102px;
  align-items: center;
  max-width: 730px;
  display: flex;
  justify-content: center;
  margin: 0px;
  padding-left: 64px;
}
